








.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #f8f9fa;
    width:100%;
    padding: 30px;
   
  
    form {
      display: flex;
      flex-direction: column;
      background: #ffffff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 100%;
        margin-top: -200px;
      .form-group {
        margin-bottom: 1rem;
  
        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: bold;
        }
  
        input {
          width: 100%;
          height: 50px;
          padding: 0.5rem;
          border: 1px solid #ced4da;
          border-radius: 4px;
  
          &:focus {
            outline: none;
            border-color: #80bdff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
          }
        }
      }
  
      button {
        padding: 0.5rem 1rem;
        background-color: #000000;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 40px;
  
        &:hover {
          background-color: #000000;
        }
      }
    }
  }
  